@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #23242C;
}

h1, h2, h3, h4, h5, h6, ul, p {
    margin-bottom: 0;
}

@import 'blocks/container';
@import 'blocks/ellipses/ellipses';
@import 'blocks/divider/divider';
@import 'blocks/title/title';
@import 'blocks/text/text';
@import 'blocks/buttons/buttons';
@import 'blocks/header/header';
@import 'blocks/promo/promo';
@import 'blocks/headwear/headwear';
@import 'blocks/range/range';
@import 'blocks/list/list';
@import 'blocks/citation/citation';
@import 'blocks/newsletter/newsletter';
@import 'blocks/footer/footer';
@import 'blocks/modal/modal';
@import 'blocks/pageup/pageup';

@import 'blocks/title/media';
@import 'blocks/text/media';
@import 'blocks/ellipses/media';
@import 'blocks/divider/media';
@import 'blocks/buttons/media';
@import 'blocks/header/media';
@import 'blocks/promo/media';
@import 'blocks/list/media';
@import 'blocks/headwear/media';
@import 'blocks/range/media';
@import 'blocks/citation/media';
@import 'blocks/newsletter/media';
@import 'blocks/footer/media';
@import 'blocks/modal/media';
@import 'blocks/pageup/media';