@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #23242C;
}

@import 'blocks/header';
@import 'blocks/ellipses';
@import 'blocks/divider';