@media screen and (max-width: 1600px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .range {
        &__wrapper {
            grid-template-columns: repeat(2, 440px);
            column-gap: 80px;
        }
        &__left, &__right {
            grid-template-rows: repeat(2,557px);
            row-gap: 55px;
        }
        &__descr {
            font-size: 14px;
        }
        &__title {
            font-size: 45px;
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .range {
        &__wrapper {
            margin: 70px 0;
            grid-template-columns: repeat(2, 334px);
            column-gap: 50px;
        }
        &__left, &__right {
            grid-template-rows: repeat(2, 448px);
            row-gap: 40px;
        }
        &__descr {
            margin: 0;
        }
        &__title {
            font-size: 42px;
        }
    }
    .text {
        &_range {
            font-size: 90px;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .range {
        &__wrapper {
            grid-template-columns: 350px;
            margin: 70px 0 0 0;
            row-gap: 40px;
        }
        &__header {
            margin-top: 101px;
        }
        &__left, &__right {
            grid-template-rows: repeat(2,465px);
        }
        &__right {
            margin-top: 0;
        }
    }
    .divider {
        &_range {
            margin-top: 135px;
        }
    }
    .text {
        &_range {
            font-size: 80px;
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 8px;
    }
    .text {
        &_range {
            font-size: 61px;
        }
    }
    .range {
        &__wrapper {
            grid-template-columns: 304px;
        }
        &__more {
            &-bg {
                font-size: 125px;
                top: -136px;
            }
            &-text {
                font-size: 30px;
                width: 203px;
                padding: 0 10px;
                top: -26px;
            }
        }
        &__left, &__right {
            grid-template-rows: repeat(2,429px);
        }
    }
}