.headwear {
    &__wrapper {
        margin: 153px 140px 0 129px;
        display: grid;
        grid-template-columns: 591px 501px;
        column-gap: 79px;
    }
    &__photo {
        margin-top: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}