@media screen and (max-width: 1600px) {
    .headwear {
        &__wrapper {
           margin: 0 0 157px 0;
        }
    }
}

@media screen and (max-width: 1200px) {
    .headwear {
        &__wrapper {
            grid-template-columns: 451px 468px;
            column-gap: 40px;
        }
    }
}

@media screen and (max-width: 992px) {
    .headwear {
        &__wrapper {
            grid-template-columns: 321px 358px;
            grid-template-rows: 404px;
        }
    }
}

@media screen and (max-width: 768px) {
    .headwear {
        &__wrapper {
            margin-top: 101px;
            grid-template-columns: 540px;
            grid-template-rows: 404px 303px;
        }
        &__block {
            margin: 0 auto;
            max-width: 443px;
        }
    }
}

@media screen and (max-width: 576px) {
    .headwear {
        &__wrapper {
            grid-template-columns: minmax(304px, auto);
        }
        &__block {
            margin: 0;
        }
    }
}