@media screen and (max-width: 1200px) {
    .text {
        &_promo {
            font-size: 79px;
            line-height: 82px;
        }
    }
}

@media screen and (max-width: 992px) {
    .text {
        &_promo {
            font-size: 70px;
            span {
                padding-left: 0;
            }
        }
        &_headwear {
            font-size: 71px;
            line-height: 88px;
        }
        &_range {
            font-size: 90px;
        }
        &_newsletter {
            font-size: 90px;
        }
    }
}

@media screen and (max-width: 768px) {
    .text {
        &_headwear {
            font-size: 70px;
            line-height: 80px;
        }
        &_range {
            font-size: 80px;
        }
        &_newsletter {
            font-size: 80px;
        }
    }
}

@media screen and (max-width: 576px) {
    .text {
        &_promo {
            font-size: 61px;
            line-height: 61px;
        }
        &_headwear {
            height: 205px;
            width: 304px;
            font-size: 62px;
            line-height: 62px;
        }
        &_range {
            font-size: 61px;
        }
        &_newsletter {
            font-size: 50px;
            line-height: 70px;
        }
    }
}