.list {
    &__wrapper {
        margin: 101px 0 153px 0;
        display: grid;
        grid-template-columns: 291px 721px;
        column-gap: 156px;
        justify-content: center;
    }
    &__items {
        display: grid;
        grid-template-columns: 295px 294px;
        column-gap: 132px;
    }
    &__title {
        display: flex;
        align-items: center;
        font-family: 'PlayfairDisplay';
        font-style: italic;
        font-size: 38px;
        line-height: 51px;
        color: var(--text-color);
    }
    &__descr {
        padding: 29px 0 0 61px;
        font-family: 'Poppins';
        font-size: 16px;
        line-height: 165.9%;
        color: #9D8888;
    }
}