@media screen and (max-width: 1600px) {
    .list {
        &__wrapper {
            column-gap: 127px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .list {
        &__wrapper {
            grid-template-columns: 291px 618px;
            column-gap: 50px;
        }
        &__items {
            column-gap: 28px;
        }
    }
}

@media screen and (max-width: 992px) {
    .list {
        &__wrapper {
            grid-template-columns: repeat(2, 296px);
            grid-template-rows: repeat(2, 156px);
            row-gap: 28px;
            justify-content: center;
        }
        &__item {
            &_one {
                grid-row: 2 / 3;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .list {
        &__descr {
            padding-left: 0;
        }
        &__wrapper {
            margin: 101px 0 0 0;
            grid-template-columns: repeat(2, 244px);
            column-gap: unset;
        }
        &__items {
            grid-template-columns: repeat(2, 244px);
        }
    }
}

@media screen and (max-width: 576px) {
    .list {
        &__wrapper {
            margin: 80px 0;
            grid-template-columns: 222px;
            grid-template-rows: repeat(3,187px);
            row-gap: unset;
        }
        &__item {
            &_one {
                grid-row: 3 / 4;
            }
            &_two {
                grid-row: 2 / 3;
            }
        }
        &__items {
            grid-template-columns: 244px;
            row-gap: 28px;
        }
    }
}