.button {
    position: relative;
    width: 185px;
    height: 61px;
    background: #FFFFFF;
    color: #967675;
    border: 1px solid #CFADAC;
    border-radius: 6px;
    transition: all 0.3s;
    &:hover {
        color: var(--text-color);
        background: #CFADAC;
        width: 183px;
        height: 59px;
    }
    &:focus {
        outline:none;
    }
    &__shadow {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: 3px;
        z-index: -1;
        width: 161px;
        height: 32px;
        box-shadow: 0px 8px 34px rgba(150, 79, 76, 0.32);
    }
    &_promo {
        margin: 36px 0 0 2px;
    }
    &_headwear {
        margin-top: 33px;
    }
    &_newsletter {
        margin-left: 35px;
    }
}