.container {
    width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 1600px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 8px;
    }
}