.ellipses {
    &-small {
        width: 9px;
        height: 9px;
        display: grid;
        grid-template-columns: 3px 3px;
        grid-template-rows: 3px 3px;
        gap: 3px;
        &__ellipse {
            width: 3px;
            height: 3px;
            border-radius: 100%;
            background: #23242C;
            opacity: 0.3;
        }
        &_header {
            padding: 30px 0;
            margin: 0 auto;
        }
        &_list {
            margin-right: 13px;
            div {
                background: #964F4C;
            }
        }
        &_footer {
            position: absolute;
            left: -20px;
            div {
                background: #FAF7F3;
            }
        }
    }
    &-big {
        position: absolute;
        right: 83px;
        top: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -2;
        width: 518px;
        height: 518px;
        border-radius: 100%;
        border: 1px solid rgba(35, 36, 44, 0.1);
        &_citation {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &__center {
            width: 246px;
            height: 246px;
            border-radius: 100%;
            background: rgba(250, 226, 214, 0.4);
            &_citation {
                width: 341px;
                height: 341px;
                background: #FFFFFF;
                box-shadow: 0px 0px 64px #EDD5C8;
            }
        }
    }
}
