.ellipses {
    &-small {
        width: 9px;
        height: 9px;
        display: grid;
        grid-template-columns: 3px 3px;
        grid-template-rows: 3px 3px;
        gap: 3px;
        &__ellipse {
            width: 3px;
            height: 3px;
            border-radius: 100%;
            background: #23242C;
            opacity: 0.3;
        }
    }
    &_header {
        margin: 29px auto 0 auto;
    }
    &-big {
        &__border {
            position: absolute;
            right: 83px;
            top: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -2;
            width: 518px;
            height: 518px;
            border-radius: 100%;
            border: 1px solid rgba(35, 36, 44, 0.1);
        }
        &__main {
            width: 246px;
            height: 246px;
            border-radius: 100%;
            background: rgba(250, 226, 214, 0.4);
        }
    }
}
