.header {
    max-height: 179px;
    text-align: center;
    &__logo {
        margin-top: 30px;
    }
    &__menu {
        width: 656px;
        margin: 25px auto 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__link {
        font-family: 'Poppins';
        font-size: 16px;
        line-height: 32px;
        color: var(--text-color);
        &:hover {
            color: var(--text-color);
            text-decoration: none;
        }
    }
}