.list {
    &__wrapper {
        margin: 101px 136px 0 136px;
        display: grid;
        grid-template-columns: repeat(3, 280px);
        column-gap: 215px;
    }
    &__title {
        display: flex;
        align-items: center;
        font-family: 'PlayfairDisplay';
        font-style: italic;
        font-size: 38px;
        line-height: 51px;
        color: var(--text-color);
    }
    &__descr {
        padding: 29px 0 0 61px;
        font-family: 'Poppins';
        font-size: 16px;
        line-height: 165.9%;
        color: #9D8888;
    }
}