.text {
    font-family: 'PlayFairDisplay';
    font-size: 102px;
    line-height: 110px;
    &_promo {
        display: flex;
        flex-direction: column;
    }
    &_headwear {
        margin-top: 8px;
    }
    &_range {
        margin-top: 9px;
        text-align: center;
    }
}