.text {
    font-family: 'PlayFairDisplay';
    font-size: 102px;
    line-height: 110px;
    color: var(--text-color);
    &_promo {
        display: flex;
        flex-direction: column;
        span {
            padding-left: 75px;
        }
    }
    &_headwear {
        height: 342px;
        margin-top: 8px;
    }
    &_range, &_newsletter {
        margin-top: 9px;
        text-align: center;
    }
}