.title {
    h2 {
        margin-bottom: 0;
    }
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #967675;
    &_promo {
        margin: 63px 0 0 2px;
    }
}