@media screen and (max-width: 1600px) {
    .promo {
        &__wrapper {
            margin: 137px 25px 101px 25px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .promo {
        &__photo {
            &_man {
                right: -11px;
            }
            img {
                width: 93%;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .promo {
        &__photo {
            margin-top: 13px;
            &_man {
                display: none;
            }
            img {
                width: 100%;
            }
        }
        &__wrapper {
            margin: 137px 0 101px 0;
        }
        &__bc {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .promo {
        &__wrapper {
            flex-direction: column;
            margin: 70px 0 101px 0;
        }
        &__photo {
            order: -1;
            width: 256px;
            height: 370px;
            margin-left: 75px; 
            &_man {
                display: inline-block;
                top: 75px;
                right: 75px;
            }
        }
        &__block {
            margin: 100px auto 0 auto;
        }
    }
}

@media screen and (max-width: 576px) {
    .promo {
        &__photo {
            margin: 0;
            margin: 0 auto;
            &_man {
                display: none;
            }
        }
        &__block {
            margin: 30px auto 0 auto;
        }
    }
}