.promo {
    &__wrapper {
        position: relative;
        display: flex;
        margin: 137px 228px 101px 131px;
        min-height: 553px;
    }
    &__block {
        max-width: 718px;
        max-height: 553px;
        margin: 63px 48px 0 0;
        z-index: 1;
    }
    &__bc {
        width: 100px;
        position: relative;
        &_b, &_slash, &_c {
            position: absolute;
            font-size: 44px;
            display: flex
        }
        &_b {
            left: 4px;
            top: -5px;
        }
        &_slash {
           left: 25px;
           top: 10px;
        }
        &_c {
            left: 35px;
            top: 20px;
        }
    }
    &__photo {
        &_woman {
            z-index: 1;
            height: 370px;
        }
        &_man {
            position: absolute;
            right: 0;
            top: 139px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}