@media screen and (max-width: 768px) {
    .header {
        &__logo {
            padding-bottom: 25px;
        }
        &__menu {
            display: none;
        }
    }
    .ellipses {
        &-small {
            &_header {
                padding: 20px 0;
            }
        }
    }
}