@media screen and (max-width: 1600px) {
    .button {
        &_newsletter {
            margin-left: 20px;
            width: 170px;
            height: 55px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .button {
        width: 180px;
        height: 56px;
        &_promo {
            margin: 23px 0 0 2px;
        }
        &__shadow {
            &_newsletter {
                width: 126px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .button {
        width: 165px;
        height: 50px;
        &_headwear {
            margin-top: 32px;
        }
    }
}

@media screen and (max-width: 768px) {
    .button {
        &_headwear {
            margin-top: 15px;
        }
        &_newsletter {
            height: 50px;
        }
    }
}

@media screen and (max-width: 576px) {
    .button {
        &_headwear {
            margin: 0;
        }
        &_newsletter {
            margin: 30px 0 0 0;
        }
    }
}