.citation {
    &__wrapper {
        position: relative;
        max-width: 919px;
        height: 518px;
        margin: 209px auto 0 auto;
        text-align: center;
    }
    &__quote {
        position: absolute;
        opacity: 0.7;
        &_left {
            left: 18px;
            bottom: 50%;
        }
        &_right {
            right: 15px;
            top: 50%;
        }
    }
    &__text {
        font-family: 'PlayfairDisplay';
        font-size: 48px;
        line-height: 64px;
        color: var(--text-color);
        text-align: center;
        padding-top: 227px;
    }
}