@media screen and (max-width: 1200px) {
    .citation {
        &__wrapper {
            height: 468px;
        }
        &__text {
            padding-top: 200px;
        }
    }
}

@media screen and (max-width: 992px) {
    .citation {
        &__text {
            font-size: 35px;
            padding-top: 173px;
        }
        &__wrapper {
            height: 420px;
        }
    }
}

@media screen and (max-width: 768px) {
    .citation {
        &__wrapper {
            height: 280px;
        }
        &__quote {
            &_left {
                left: 0;
            }
            &_right {
                right: 0;
            }
            img {
                width: 80%;
            }
        }
        &__text {
            font-size: 38px;
            padding-top: 104px;
        }
    }
}

@media screen and (max-width: 576px) {
    .citation {
        &__wrapper {
            height: 200px;
            margin: 180px auto 0 auto;
        }
        &__quote {
            width: 47px;
        }
        &__text {
            font-size: 26px;
            padding-top: 83px;
            line-height: 30px;
        }
    }
}