@media screen and (max-width: 1600px) {
    .container {
        max-width: 1140px;
    }
    .button {
        &_newsletter {
            margin-left: 20px;
            width: 170px;
            height: 55px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .button {
        &__shadow {
            &_newsletter {
                width: 126px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .text {
        &_newsletter {
            font-size: 90px;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .newsletter {
        input {
            width: 420px;
            font-size: 25px;
        }
    }
    .text {
        &_newsletter {
            font-size: 80px;
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 8px;
    }
    .newsletter {
        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                padding-left: 0;
                width: 100%;
                font-size: 20px;
            }
        }
    }
    .text {
        &_newsletter {
            font-size: 50px;
            line-height: 70px;
        }
    }
    .button {
        &_newsletter {
            margin: 30px 0 0 0;
        }
    }
}