@media screen and (max-width: 992px) {
    .newsletter {
        &__form {
            &-input {
                input {
                    width: 555px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .newsletter {
        &__form {
            &-input {
                input {
                    width: 380px;
                    font-size: 25px;
                }
                label.error {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .newsletter {
        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-input {
                input {
                    padding-left: 0;
                    width: 100%;
                    font-size: 20px;
                }
                label.error {
                    font-size: 15px;
                    padding-left: 0;
                }
            }
        }
    }
}