@media screen and (max-width: 1600px) {
    .container {
        max-width: 1140px;
    }
    .button {
        &_newsletter {
            margin-left: 20px;
            width: 170px;
            height: 55px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .button {
        &__shadow {
            &_newsletter {
                width: 126px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .text {
        &_newsletter {
            font-size: 90px;
        }
    }
    .newsletter {
        &__form {
            &-input {
                input {
                    width: 555px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .newsletter {
        &__form {
            &-input {
                input {
                    width: 380px;
                    font-size: 25px;
                }
                label.error {
                    font-size: 18px;
                }
            }
        }
    }
    .text {
        &_newsletter {
            font-size: 80px;
        }
    }
    .button {
        &_newsletter {
            height: 50px;
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 8px;
    }
    .newsletter {
        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-input {
                input {
                    padding-left: 0;
                    width: 100%;
                    font-size: 20px;
                }
                label.error {
                    font-size: 15px;
                    padding-left: 0;
                }
            }
        }
    }
    .text {
        &_newsletter {
            font-size: 50px;
            line-height: 70px;
        }
    }
    .button {
        &_newsletter {
            margin: 30px 0 0 0;
        }
    }
}