.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.56)
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 380px;
    min-height: 140px;
    background-color: #f2f2f2;
    padding: 38px 42px 40px 37px;
    font-family: 'Poppins';
    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 45px;
        line-height: 20px;
        color:  #0d0d0d;
        cursor: pointer;
    }
    &__subtitle {
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        color: #0d0d0d;
        text-align: center;
    }
    &__descr {
        font-size: 15px;
        line-height: 15px;
        font-weight: 500;
        color: #0d0d0d;
        margin-top: 11px;
        text-align: center;
    }
}

#thanks {
    display: none;
}